.pomo_metabox input[type=text],
.pomo_metabox input[type=date],
.pomo_metabox input[type=time],
.pomo_metabox input[type=datetime],
.pomo_metabox input[type=number],
.pomo_metabox input[type=color],
.pomo_metabox textarea{
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    color: #444;
    min-width: 40%;
    padding: 7px;
}
.pomo_metabox input[type=text]:focus,
.pomo_metabox input[type=date]:focus,
.pomo_metabox input[type=time]:focus,
.pomo_metabox input[type=datetime]:focus,
.pomo_metabox input[type=number]:focus,
.pomo_metabox input[type=color]:focus,
.pomo_metabox textarea:focus{
	border-color: #5897FB;
}
.pomo_metabox input::-webkit-input-placeholder{
	color: #999;
}
.pomo_metabox input:-moz-placeholder {
	color: #999;
}
.pomo_metabox{
	padding: 10px 0;
}
.pomo_metabox .metabox_message{
	margin: 0 0 20px !important;
}
.pomo_metabox fieldset{
	border-left: 1px solid #DADADA;
	margin: 10px 0;
	border-radius: 20px;
}
.pomo_metabox fieldset legend{
	color: #464646;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size: 15px;
	margin: 0 0 0 20px;
}
.pomo_metabox fieldset .fieldset_message{
	color: #777;
	margin: 10px 20px 20px !important;
}
.pomo_metabox label{
	display: inline-block;
	font-weight: bold;
	padding-right: 2%;
	text-align: right;
	width: 14%;
}
.pomo_metabox input[data-prepend]:before{
    content: "(" attr(data-prepend) ")";
    display: block;
    background: #F09;
    width: 20px;
}
.pomo_metabox .prepend{
    color: #999;
    padding: 0 4px;
}
.pomo_metabox .append{
    color: #999;
    padding: 0 4px;
}
.pomo_metabox .form_field{
	padding-bottom: 25px;
}
.pomo_metabox .helptext{
	color: #999;
	font-style: italic;
	margin: 5px 0 0 16%;
}
.pomo_metabox .select_field select[multiple]{
	height: auto !important;
	vertical-align: top;
}
/**
 * Combo Fields
 *
 * Common styling for all combo fields
 *
 */
.pomo_metabox .form_combo_field{
	padding: 7px 0 25px;
}
.pomo_metabox .form_combo_field .helptext{
	margin: -1em 0 0.5em 16%;
}
.pomo_metabox .combo_field_wrapper{
    padding: 5px 0 0;
}
.pomo_metabox .combo_field_wrapper label{
    font-size: 11px;
	font-weight: normal;
}
.pomo_metabox .combo_field_wrapper .form_field{
    padding-bottom: 4px;
}

/**
 * Table Fields
 *
 * Common styling for all table fields
 *
 */
.pomo_metabox .form_table_field .helptext{
	margin: -1em 0 0.5em 16%;
}
.pomo_metabox .table_field_wrapper{
    margin: 0 0 0 16%;
    padding: 5px 0 25px;
}
.pomo_metabox .table_field_wrapper .form_field{
    padding-bottom: 0;
}
.pomo_metabox .table_field_wrapper td{
    padding-bottom: 4px;
}
.pomo_metabox .table_field_wrapper label{
    display: block;
    font-size: 11px;
	font-weight: normal;
}
.pomo_metabox .table_field_wrapper .clone-actions{
    padding-bottom: 8px;
    vertical-align: bottom;
}
/*
 * Radio Fields
 *
 */
.pomo_metabox .radio_field{
	padding-top: 7px;
}
.pomo_metabox .radio_field .helptext{
	display: inline-block;
	margin: 0 0 2.8em;
	padding: 5px 0 0;
}
.pomo_metabox .radio_field .radio_options{
	margin: -1.675em 0 0 16%;
}
.pomo_metabox label.radio_label{
	background: #FFF;
    border: 1px solid #CCC;
	display: block;
	font-weight: normal;
	margin: 0 0 6px;
	min-width: 46%;
	padding: 7px;
	text-align: left;

    background: -moz-linear-gradient(center bottom , #EEEEEE 0%, #FFFFFF 60%) !important;
    background: -webkit-gradient(linear, center bottom, center top, color-stop(0%,#EEEEEE), color-stop(100%,#FFFFFF)) !important;
    background: -webkit-linear-gradient(bottom, #EEEEEE 0%,#FFFFFF 100%) !important;
    background: -o-linear-gradient(bottom, #EEEEEE 0%,#FFFFFF 100%) !important;
    background: -ms-linear-gradient(bottom, #EEEEEE 0%,#FFFFFF 100%) !important;
    background: linear-gradient(bottom, #EEEEEE 0%,#FFFFFF 100%) !important;

	border-radius: 3px;

	-webkit-box-shadow: inset 0 0 5px #E7E7E7;
	-moz-box-shadow: inset 0 0 5px #E7E7E7;
	box-shadow: inset 0 0 5px #E7E7E7;
}
.pomo_metabox label.radio_label:hover{
	border-color: #5897FB;
}
.pomo_metabox .radio_label input{
	cursor: pointer;
	margin-right: 8px;
}
.pomo_metabox .checkbox_field input{
	cursor: pointer;
	position: relative;
	top: -2px;
}
.pomo_metabox .checkbox_field .wrapping_label{
	font-weight: normal;
	width: auto;
}
.pomo_metabox .checkbox_field .helptext{
	display: inline-block;
	margin: 2px 0 0 5px;
}
/*
 * Select Fields
 *
 * Styling for select fields (includes customization for Harvest's Chosen)
 */
.pomo_metabox select.form_field_input{
    min-width: 40%;
}
.pomo_metabox .chzn-container{
    vertical-align: middle;
}
.pomo_metabox .chzn-container-multi .chzn-choices{
	background-image: none;
	border-color: #CCC;
	border-radius: 3px;
}
.pomo_metabox .chzn-container-multi.chzn-container-active .chzn-choices{
	border-color: #5897FB;
}
/*
 * Textarea
 *
 * Styling for text areas (includes customization for tinyMCE)
 */
.pomo_metabox .textarea_field .helptext{
	display: inline-block;
	margin: 0 0 5px;
}
.pomo_metabox .textarea_field textarea{
	display: block;
	margin-left: 16%;
    max-width: 80%;
}
.pomo_metabox .textarea_field table.mceLayout{
	border: 1px solid #CCC;
	border-radius: 3px;
}
.pomo_metabox .textarea_field table.mceLayout tbody{
	border-radius: 3px;
}
.pomo_metabox .textarea_field table.mceLayout tr.mceFirst{
	border-radius: 3px 3px 0 0;
}
.pomo_metabox .textarea_field table.mceLayout tr.mceLast{
	border-radius: 0 0 3px 3px;
}
.pomo_metabox .textarea_field .mceIframeContainer{
	background: #FFF;
}
/**
 * Color Fields
 *
 */
.pomo_metabox .color_field{
	position: relative;
}
.pomo_metabox .color_input{
	min-width: 80px !important;
	width: 80px !important;
}
.pomo_metabox .color_sample{
	border: 1px solid #DADADA;
    border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	margin: 0 4px;
	position: relative;
	top: -1px;
	vertical-align: middle;
	width: 24px;
}
.pomo_metabox .color_sample.empty{
	border: 1px dotted #555;
}
.pomo_metabox .color_picker{
	background: #FFF;
	border: solid 1px #CCC;
	display: none;
	left: 16%;
	padding: 10px;
	position: absolute;
	z-index: 9999;

	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;

    -webkit-box-shadow: 3px 0 8px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 0 8px rgba(0,0,0,0.3);
    box-shadow: 3px 0 8px rgba(0,0,0,0.3);
}
/**
 * Date Fields
 *
 * Styling for date fields
 *
 */
.pomo_metabox .date_field input{
	min-width: 100px;
	width: 100px;
}
.pomo_metabox .date_range_field .helptext{
    margin-bottom: 2.8em;
    margin-top: 0;
}
.pomo_metabox .date_range_field .combo_field_wrapper{
    margin-top: -1.7em;
	padding-left: 16%;
	padding-top: 0;
}
.pomo_metabox .date_range_field .date_field{
	display: inline-block;
}
.pomo_metabox .date_range_field .date_field label{
	padding: 0 5px 0 0;
	width: auto;
}
.pomo_metabox .date_range_field .date_field input{
	margin-right: 8px;
}
/**
 * Posts Field
 *
 */
.pomo_metabox .post_field .append a.new-post{
	padding: 8px 8px 14px;
}
.pomo_metabox .post_field .append a.new-post.showing{
	color: #777;
	text-decoration: none;
}
.pomo_metabox .post_field + .quick-add-post{
	background: #DFDFDF;
	border-bottom: 1px solid #CCC;
	border-left: 2px solid #FFF;
	border-right: 2px solid #FFF;
	border-top: 1px solid #848484;
	display: none;
	margin: 0 -11px 10px;
	padding: 10px;
	position: relative;
	top: -20px;

    -webkit-box-shadow: inset 0 3px 2px #888;
    -moz-box-shadow: inset 0 3px 2px #888;
	box-shadow: inset 0 3px 2px #888;
}
.pomo_metabox .post_field + .quick-add-post input[type=text]{
	margin-left: 16%;
	width: 40%;
}
.pomo_metabox .post_field + .quick-add-post .button{
	margin: 0 8px;
}
.pomo_metabox .post_field + .quick-add-post .waiting{
    margin: 0 8px;
    vertical-align: middle;
}
.pomo_metabox .post_field + .quick-add-post .error{
    background: #FFEBE8;
    border: 1px solid #C00;
    font-weight: bold;
	margin-left: 16% !important;
    padding: 5px;
    width: 50%;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.pomo_metabox .post_field + .quick-add-post.waiting-response .cancel-action{
	display: none;
}
.pomo_metabox .post_field + .quick-add-post.waiting-response .waiting{
	display: inline-block !important;
}
.pomo_metabox .post_field + .quick-add-post.waiting-response .error{
	display: none;
}
/**
 * Array Fields
 *
 * Styling for array fields
 *
 */
.pomo_metabox .clone-button{
	font-weight: bold;
	margin: 0 4px;
	text-shadow: 0 1px 0 #FFF;
}
.pomo_metabox .clonable.combo_field_wrapper{
    margin: 0 0 0 16%;
    padding-bottom: 0;
}
.pomo_metabox .clonable.combo_field_wrapper .form_field{
    display: inline-block;
    margin-right: 4px;
}
.pomo_metabox .clonable.combo_field_wrapper .form_field label{
    display: block;
}
/**
 * Invalid Fields
 *
 * Styling for invalid fields
 *
 */
.pomo_metabox .form_field.invalid,
.pomo_metabox .form_combo_field.invalid{
    background: #FFFFE0;
    border: 1px solid #E6DB55;
    margin: 0 -5px 10px;
    padding: 5px 5px 8px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.pomo_metabox .form_combo_field.invalid .form_field.invalid{
	border: none;
    margin: 0;
    padding: 0;
}
.pomo_metabox .form_field.invalid input[type=text],
.pomo_metabox .form_field.invalid input[type=date],
.pomo_metabox .form_field.invalid input[type=time],
.pomo_metabox .form_field.invalid input[type=datetime],
.pomo_metabox .form_field.invalid input[type=number],
.pomo_metabox .form_field.invalid textarea,
.pomo_metabox .form_combo_field.invalid input[type=text],
.pomo_metabox .form_combo_field.invalid input[type=date],
.pomo_metabox .form_combo_field.invalid input[type=time],
.pomo_metabox .form_combo_field.invalid input[type=datetime],
.pomo_metabox .form_combo_field.invalid input[type=number],
.pomo_metabox .form_combo_field.invalid textarea{
    border-color: #E6DB55;
}
.pomo_metabox .form_field.invalid input[type=text]:focus,
.pomo_metabox .form_field.invalid input[type=date]:focus,
.pomo_metabox .form_field.invalid input[type=time]:focus,
.pomo_metabox .form_field.invalid input[type=datetime]:focus,
.pomo_metabox .form_field.invalid input[type=number]:focus,
.pomo_metabox .form_field.invalid textarea:focus,
.pomo_metabox .form_combo_field.invalid input[type=text]:focus,
.pomo_metabox .form_combo_field.invalid input[type=date]:focus,
.pomo_metabox .form_combo_field.invalid input[type=time]:focus,
.pomo_metabox .form_combo_field.invalid input[type=datetime]:focus,
.pomo_metabox .form_combo_field.invalid input[type=number]:focus,
.pomo_metabox .form_combo_field.invalid textarea:focus{
	border-color: #5897FB;
}
.pomo_metabox .invalid .validation_error{
    color: #4F3907;
    padding: 3px 0 15px;
}
.pomo_metabox .invalid .helptext{
	color: #676767;
}

.pomo_metabox .form_field.invalid.publish,
.pomo_metabox .form_combo_field.invalid.publish{
    background: #FFEBE8;
    border: 1px solid #C00;
}
.pomo_metabox .form_field.invalid.publish input[type=text],
.pomo_metabox .form_field.invalid.publish input[type=date],
.pomo_metabox .form_field.invalid.publish input[type=time],
.pomo_metabox .form_field.invalid.publish input[type=datetime],
.pomo_metabox .form_field.invalid.publish input[type=number],
.pomo_metabox .form_field.invalid.publish textarea,
.pomo_metabox .form_combo_field.invalid.publish input[type=text],
.pomo_metabox .form_combo_field.invalid.publish input[type=date],
.pomo_metabox .form_combo_field.invalid.publish input[type=time],
.pomo_metabox .form_combo_field.invalid.publish input[type=datetime],
.pomo_metabox .form_combo_field.invalid.publish input[type=number],
.pomo_metabox .form_combo_field.invalid.publish textarea{
    border-color: #C00;
}
.pomo_metabox .form_field.invalid.publish input[type=text]:focus,
.pomo_metabox .form_field.invalid.publish input[type=date]:focus,
.pomo_metabox .form_field.invalid.publish input[type=time]:focus,
.pomo_metabox .form_field.invalid.publish input[type=datetime]:focus,
.pomo_metabox .form_field.invalid.publish input[type=number]:focus,
.pomo_metabox .form_field.invalid.publish textarea:focus,
.pomo_metabox .form_combo_field.invalid.publish input[type=text]:focus,
.pomo_metabox .form_combo_field.invalid.publish input[type=date]:focus,
.pomo_metabox .form_combo_field.invalid.publish input[type=time]:focus,
.pomo_metabox .form_combo_field.invalid.publish input[type=datetime]:focus,
.pomo_metabox .form_combo_field.invalid.publish input[type=number]:focus,
.pomo_metabox .form_combo_field.invalid.publish textarea:focus{
	border-color: #C00;
}
.pomo_metabox .invalid.publish .validation_error{
    color: #900;
}

/**
 * Context Side
 *
 * Fixes for metaboxes that are rendered in the side column.
 */
.pomo_metabox.context_side .form_field{
    padding-bottom: 15px;
}
.pomo_metabox.context_side label{
    display: block;
    margin-bottom: 5px;
    text-align: left;
    width: auto;
}
.pomo_metabox.context_side .wrapping_label input{
    margin: 3px 10px 0 0;
}
.pomo_metabox.context_side .helptext{
    color: #555;
    margin-left: 0;
    font-style: normal;
}
/**
 * jQuery UI Updates
 *
 * Overrides and additions to jquery UI Smoothness theme
 */
/* states and images */
.pomo_metabox .ui-icon { background-image: url(../js/libs/jquery/css/smoothness/images/ui-icons_888888_256x240.png) !important; }
.ui-widget-content .ui-icon {background-image: url(../js/libs/jquery/css/smoothness/images/ui-icons_888888_256x240.png) !important; }
.ui-widget-header .ui-icon {background-image: url(../js/libs/jquery/css/smoothness/images/ui-icons_888888_256x240.png) !important; }
.ui-state-default .ui-icon { background-image: url(../js/libs/jquery/css/smoothness/images/ui-icons_888888_256x240.png) !important; }
.ui-widget-header{
    background: #CCCCCC ;
    color: #777 !important;

    background: -moz-linear-gradient(center bottom , #CCCCCC 0%, #EEEEEE 100%) !important;
    background: -webkit-gradient(linear, center bottom, center top, color-stop(0%,#CCCCCC), color-stop(100%,#EEEEEE)) !important;
    background: -webkit-linear-gradient(bottom, #CCCCCC 0%,#EEEEEE 100%) !important;
    background: -o-linear-gradient(bottom, #CCCCCC 0%,#EEEEEE 100%) !important;
    background: -ms-linear-gradient(bottom, #CCCCCC 0%,#EEEEEE 100%) !important;
    background: linear-gradient(bottom, #CCCCCC 0%,#EEEEEE 100%) !important;
}
#ui-datepicker-div {
    display: none;
}
.ui-datepicker{
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.3);
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
.ui-datepicker th{
    color: #777 !important;
}
/*
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_454545_256x240.png); }
.ui-state-active .ui-icon {background-image: url(images/ui-icons_454545_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(images/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_cd0a0a_256x240.png); }
*/